{
  "presets": [
    "env",
    "react",
    "es2015"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  },
  "plugins": [
    "react-html-attrs",
    "transform-object-rest-spread"
  ]
}